body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #3f4850;
}

h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: #3d9e81;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

input {
  font-size: 1em;
  width: 100%;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

.main-nav li {
  margin-bottom: 1em;
}

.main-nav a {
  display: inline-block;
  background: #3d9e81;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  background-color: #3d3d3d;
}

.photo-container ul {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(1, 1fr);
}

.photo-container ul li {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.photo-container ul img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

@media only screen and (max-width: 767px)  {
  body {
    padding-top: 2em;
  }

  .photo-container li {
    margin: auto;
  }

  
}

@media only screen and (min-width: 768px)  {
  body {
    padding-top: 4em;
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  

  .photo-container ul {
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
  }

  .photo-container ul li {
    height: 400px;
  }
  .photo-container ul img {
    object-fit: cover;
  }

}
